name: ci

on:
  push:
    branches: [ dev ]
    paths-ignore:
      - '**.md'
      - '**.txt'
      - '.github/badges/**.svg'
  pull_request:
    branches: [ dev ]
    paths-ignore:
      - '**.md'
      - '**.txt'
      - '.github/badges/**.svg'

jobs:
  unit-test:
    timeout-minutes: 15

    runs-on: ${{ matrix.os }}
    if: ${{ !contains(github.event.head_commit.message, 'Merge remote-tracking branch') }}

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ] #

    steps:
      - uses: actions/checkout@v2
      - name: Setup JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: gradle

      - name: Run unit tests
        run: gradle test --no-daemon --info

      - name: "JaCoCo: Generate badge"
        if: matrix.os == 'ubuntu-latest'
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2.5.0
        with:
          jacoco-csv-file: build/reports/jacoco/test/jacocoTestReport.csv
          generate-branches-badge: true

      - name: "JaCoCo: Log coverage percentage"
        if: matrix.os == 'ubuntu-latest'
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branches = ${{ steps.jacoco.outputs.branches }}"

      - name: "JaCoCo: Commit the badge"
        if: matrix.os == 'ubuntu-latest'
        run: |
          cd .github/badges
          git config --global user.name 'github-actions'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          # cwd is .github/badges
          git add *.svg
          git commit -m "Autogenerated JaCoCo coverage badge" *.svg
          git push origin dev:dev_updated_by_actions --force || true

  integration-test-dev:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ] #
    steps:
      - uses: actions/checkout@v2

      #- name: Remove source files
      #  run: rm -rf src

      - name: Setup JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: gradle

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Build sample project that uses the library
        run: |
          pip install git+https://github.com/rtmigo/tempp_py
          python test_as_dependency.py dev

  to-staging:
    needs: [unit-test, integration-test-dev]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Merge current -> staging
        uses: devmasx/merge-branch@v1.3.1
        with:
          type: now
          target_branch: staging
          github_token: ${{ github.token }}

  publish-flag:
    if: github.event.head_commit.message=='publish'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

  to-master:
    needs: [ to-staging, publish-flag ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Merge to master branch
        uses: devmasx/merge-branch@v1.3.1
        with:
          type: now
          target_branch: master
          github_token: ${{ github.token }}

  integration-test-default:
    needs: [to-master]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: gradle

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Build sample project that uses the library
        run: |
          pip install git+https://github.com/rtmigo/tempp_py
          python test_as_dependency.py 

  to-github-release:
    needs: [ integration-test-default ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: gradle

      - name: Build binaries (with testing)
        run: |
          ./gradlew build

      # ADD GITHUB RELEASE
      - name: Warm up gradle
        # so it will not show "..........10%...........20%...........30%...."
        # when called again
        run: ./gradlew pkgver -q

      - name: Get the project version
        run: echo "PKGVER=$(./gradlew pkgver -q)" >> $GITHUB_ENV

      - name: Publish GitHub release
        id: publish_github_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.PKGVER }}
          files: ./build/libs/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
